@using InHouseOidc.Example.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model InHouseOidc.Example.Mvc.Models.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}
<div class="container960">
    <div class="card">
        <div class="card-header">
            <a class="nav-link d-inline-block" asp-controller="Home"><h3>InHouseOidc.Example.Mvc</h3></a><h3 class="d-inline-block float-end">Access Denied</h3>
        </div>
        <div class="card-body">
            <h2>@Model.ReturnUrl</h2>
        </div>
    </div>
</div>
