.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.align-items-center {
    align-items: center !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-group-sm > .btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

    .btn-group-sm > .btn:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-group-sm > .btn:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

.btn-group-toggle {
    margin-bottom: 0;
    clip: rect(0, 0, 0, 0);
    display: inline-flex;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

    .btn-secondary.active {
        color: #fff;
        background-color: #545b62;
        border-color: #4e555b;
        pointer-events: none;
    }

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

    .card-body > pre {
        white-space: pre-wrap;
        word-break: normal;
        word-wrap: break-word;
    }

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

.container640 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 640px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container960 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 960px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.d-flex {
    display: flex !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-none {
    display: none !important;
}

.float-end {
    float: right !important;
}

.form-group {
}

.form-control {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }

h2 {
    font-size: calc(1.325rem + .9vw);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: calc(1.115rem + .9vw);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

.justify-content-between {
    justify-content: space-between !important;
}

.m-0 {
    margin: 0 !important;
}

.m-2 {
    margin: .5rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-auto {
    margin-left: auto !important;
}

.ml-2 {
    margin-left: .5rem !important;
}

.mr-2 {
    margin-right: .5rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-2 {
    margin-top: .5rem !important;
}

.nav-link {
    display: block;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

table {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

td, th {
    border: 1px solid #dee2e6;
    text-align: left;
    padding: 6px;
}
